/* 
    Document   : toscanadati.css
    Created on : 11-lug-2012, 10.35.38
    Author     : chiara
    Description:
        Purpose of the stylesheet follows.
*/
body{
    width: 100%;
    color:#ff0000;
}